@{
    ViewData["Title"] = "Mobile User Agent Detection Page";

    var request = Html.ViewContext.HttpContext.Request;
    bool isMobile = (bool)ViewBag.IsMobile;
    string ipAddress = ViewBag.ActualIpAddress;
    string ipAddress2 = ViewBag.ReportedIpAddress;
}

<div class="text-center">
    <h1 class="display-4">@(isMobile ? "Mobile" : "Desktop") browser detected</h1>
    <p><a href="/robots.txt">Don't click this!</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Privacy">Seriously, don't click this! I mean it!</a></p>
</div>
<div class="jumbotron">
    <p class="lead">Reported IP Address</p>
    <p><pre>@ipAddress2</pre></p>
    <p class="lead">Actual IP Address</p>
    <p><pre>@ipAddress</pre></p>
    <p class="lead">Browser Agent</p>
    <p><pre>@request.Headers["User-Agent"]</pre></p>
    <p class="lead">All Headers</p>
    <ul>
        @foreach (var key in request.Headers.Keys)
        {
            <li><strong>@key:</strong> @request.Headers[key]</li>
        }
    </ul>
</div>
