@model WebApplication1.Models.Agent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrowserAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrowserAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddressMasked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referrer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referrer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
