@model IEnumerable<WebApplication1.Models.Agent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrowserAgent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string[] lines = item.BrowserAgent.Split(")".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
    <tr>
        <td>
            @if (lines.Length > 1)
            {
                foreach (string line in lines.Take(lines.Length - 1))
                {
                    <span>@string.Format("{0})", line)<br /></span>
                }
            }
            <span>@string.Format("{0}{1}", lines.Last(), lines.Length == 1 ? ")" : "")</span>
            <p class="small"><strong>Referrer:</strong> <em>@Html.DisplayFor(modelItem => item.ReferrerMasked)</em></p>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpAddressMasked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>
