@model IEnumerable<WebApplication1.Models.Agent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrowserAgent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referrer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrowserAgent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpAddressMasked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferrerMasked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>
